@model IEnumerable<HannahsHunt.Models.UsersViewModels.UsersWithRolesViewModel>
    @{
    ViewData["Title"] = "View";
    }

    <h2>Manage Users</h2>

    <p>
        <button asp-controller="Users" asp-action="Create" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Users")'">Add New User</button>
    </p>
    <div class="responsive-table">
        <table class="col-md-12 table-hover table-sm">
            <thead class="">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td data-title="@Html.DisplayNameFor(model => model.UserName)">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.UserEmail)">
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.PhoneNumber)">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td data-title="@Html.DisplayNameFor(model => model.Roles)">
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td class="" data-title="">
                        <button asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</button>
                        <button asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Details</button>
                        <button asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

